h1{
    margin-top: 21px;
    margin-left: 20px;
}
body{
   
    z-index: -2;
    
}
nav{ 
    display: flex;
    height:80px;
    width: auto;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 5px 10px 0  grey;
  

}
.navitems{

    display: flex;
    justify-content: space-between;
  
}
ul{
    display: flex;
   column-gap: 30px;
}
li{
  
   list-style-type:none;
 
 
}
a{
    text-decoration-line: none;
    margin-right: 10px;
}
a:hover{
    background-color: grey;
    color: honeydew;
}


main{
    margin-top:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: auto;
    background-color: black;
    color:blanchedalmond;
    border-radius: 10px;
    
}
.btn{height: 100px;
    width: 300px;
    margin-top: 1%;
    margin-left: 46%;
    border: none;
    border-radius: 4px;
    font-size:2rem ;
    background-color: red;
    color: white;
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-out 0.3s;
    outline: none;
}
.btn:hover{
    box-shadow: inset 300px 0 0 0 yellow;
    cursor: pointer;
    color: black;
}
.btn1{height: 100px;
    width: 300px;
    margin-top: 1%;
    margin-left: 46%;
    border: 3px solid #42fbf2;
    color: white;
    border-radius: 4px;
    transition: ease-out 0.3s;
    outline: none;
    font-size:2rem ;
    background-color: black;
    position:relative;
    z-index: 1;
}
.btn1:hover{
    color: #fff;
    cursor: pointer;
}
.btn1:before{
    transition:.5s all ease;
    top: 0;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color:#42fbf2 ;
}
.btn1:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
